.header-global {
    background-color: $blue-light;
    color: $white;
    padding: $padding-base-vertical*2 $padding-base-vertical*6;

    @media (max-width: $screen-xs) {
        padding: $padding-base-vertical*2 $padding-base-vertical*2;
    }
}

.header-global__heading {
    margin: 0;
}
