/* RGB */
.locations {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $padding-base-vertical*4;
}

.locations__item {
    background-color: $white;
    box-shadow: 0 0 25px 1px rgba(0,0,0,.15);
    width: 48%;

    @media (max-width: $screen-lg) {
        width: 100%;
        margin: 2.5% 0;
    }

    @media (max-width: $screen-sm) {
        padding: $padding-base-vertical*4;
        margin: 5% 0;
    }

    @media (min-width: $screen-md) {
        margin: 1%;
    }
}

.location__wrapper {
    padding: 4% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $blue-light;

    @media (max-width: $screen-lg) {

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

    }


}

.location__header {
    width: 100%;
    padding: 0 0 $padding-base-vertical*4 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $screen-xs) {
        padding: 0 0 $padding-base-vertical 0;
    }
}

.location__block {

    &.location__block-primary {
        text-align: center;
        width: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $screen-sm) {
            margin-bottom: $padding-base-vertical*4;
        }

        @media (min-width: $screen-xs) and (max-width: $screen-sm) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &.location__block-secondary {
        width: 66%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:before {
            content: '';
            position: absolute;
            left: -5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: lighten($blue-light, 40%);
            width: 1px;
            height: 100%;

            @media (max-width: $screen-sm) {
                top: 0;
                transform: none;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
                margin: 0 auto;
            }
        }

        > div {
            display: flex;
            flex-direction: row;
            align-items: middle;
            justify-content: space-between;

            @media (max-width: $screen-sm) {

                > * {
                    margin-bottom: $padding-base-vertical*4;
                }
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }

        @media (max-width: $screen-sm) {
            padding-top: $padding-base-vertical*4;

        }
    }

    &.location__block-tertiary {

        width: 100%;
        position: relative;
        padding-top: $padding-base-vertical*2;

        &:before {
            content: '';
            position: absolute;
            top: $padding-base-vertical*2;
            left: 50%;
            transform: translateX(-50%);
            background-color: lighten($blue-light, 40%);
            width: 100%;
            height: 1px;

        }

        @media (min-width: $screen-md) {
            margin-top: $padding-base-vertical*2;
        }
    }

    @media (max-width: $screen-sm) {
        width: 100% !important;
        margin-bottom: $padding-base-vertical*2;
    }

}

.location__title {
    margin: 0;
    font-size: calc(1.5em + .5vw);
    font-weight: bold;
    text-transform: capitalize;

    @media (max-width: $screen-sm) {
        margin-bottom: $padding-base-vertical*3;
        margin-bottom: 0;
    }
}

.location__block-secondary, .location__block-tertiary {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.location__toggle {
    opacity: .25;
    color: $blue-dark;
    transition: .25s ease-out all;
    display: inline-block;
    cursor: pointer;
    padding: 0 0 $padding-base-vertical $padding-base-vertical;

    &:hover {
        opacity: .75;
        transform: scale(1.15) translateX(-2px);
        text-decoration: none;
        color: $blue-light;
    }
}

.forecast-label {
    display: inline-block;
}

// location item animations

.locations-enter {
  opacity: 0.01;
  transform: translateY(5%);
}

.locations-enter.locations-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in, transform 300ms ease-in;
  transform: translateY(0);
}

.locations-leave {
  opacity: 1;
  transform: translateY(0);
}

.locations-leave.locations-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform: translateY(5%);
}

.forecast-label {
    margin: 0;
    padding: 0;
}



@import '_location-today.scss';
@import '_location-forecast.scss';
