// today's conditions

.today {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    @media (min-width: $screen-sm) {
        margin-bottom: $padding-base-vertical*4;
        li {
            width: 50%;
        }
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        width: 45%;

        li {
            width: 50%;
        }
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: -5%;
            left: -5%;
            background-color: lighten($blue-light, 50%);
            width: 1px;
            height: 100%;
        }
    }
}

.today__value {
    margin-bottom: $padding-base-vertical;

    tr:last-of-type & {
        margin-bottom: 0;
    }
}

.today__icon, .today__value {
    display: block;
    text-align: center;
}

.today__icon {

    @media (max-width: $screen-md) {

        &:before {
            font-size: 30px;
        }
    }
}

.today__value {

    @media (max-width: $screen-sm) {
        font-size: 14px;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
    }
}

.today__icon:before {
    margin: 0;
}


//icon and temperature container
.location__current-conditions {
    display: flex;
    flex-direction: row;
    align-items: middle;
    margin-bottom: $padding-base-vertical*4;
    padding-bottom:  $padding-base-vertical*2;
    position: relative;
    width: 100%;

    div {
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.location__icon {

            @media (min-width: $screen-lg) {
                width: 45%;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: lighten($blue-light, 50%);
        width: 95%;
        height: 1px;

        @media (max-width: $screen-sm) {
            display: none;
        }
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 0;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        width: 50%;
    }
}

.location__icon {

    canvas {
        width: 100%;
        max-width: 100px;
        margin: 0 auto;

        @media (max-width: $screen-sm) {
            max-width: 100px;
        }
    }


}

.location__temperature {
    font-size: calc(3em + .5vw);
    text-align: center;
    font-weight: bold;
    position: relative;

    span:after {
        content: 'c';
        font-size: calc(.5em);
        vertical-align: super;
        position: absolute;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        font-size: calc(4em + .75vw);
    }


    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
        width: 50%;
        font-size: calc(4em + .75vw);
    }
}
