// forecast components

.forecast__item {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    position: relative;

    > div, > span {
        display: block;
    }

    &:before {
        content: '';
        position: absolute;
        left: -10%;
        top: 50%;
        transform: translateY(-50%);
        background-color: lighten($blue-light, 50%);
        width: 1px;
        height: 80%;
    }

    &:first-of-type:before {
        display: none;
    }

    @media (max-width: $screen-xs) {
        width: 15%;

        &:nth-last-of-type(-n+2) {
            display: none;
        }
    }
}


.forecast__title {
    margin: 0 0 $padding-base-vertical*4 0;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: calc(.5em + .5vw);

    @media (max-width: $screen-xs) {
        margin-bottom: $padding-base-vertical*2;
    }
}

.forecast__icon {
    margin-bottom: $padding-base-vertical*2;

    canvas {
        max-width: 100%;
    }

    @media (max-width: $screen-xs) {
        margin-bottom: $padding-base-vertical;
    }
}

.forecast__high, .forecast__low {
    &:after {
         content: 'c';
         font-size: .75em;
         vertical-align: super;
    }

    @media (max-width: $screen-xs) {
        font-size: calc(1em + .5vw);
    }
}

.forecast__low {
    color: lighten($blue-light, 20%);
}

.forecast__item-hourly {
    .forecast__low {
        visibility: hidden;
    }
}

.fadeIn-enter canvas {
    transform: translateY(8px);
    opacity: 0;
    transition: 2.5s cubic-bezier(0,1.16,.18,.98) all;
}

.fadeIn-enter.fadeIn-enter-active canvas {
  opacity: 1;
  transform: translateY(0);
}
