.toggle-hourly {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    
}

.toggle-hourly__label {
    line-height: 23px;
    padding-right: $padding-base-horizontal;
}

// react-toggle-switch overrides
.toggle-hourly .toggle-switch---switch---3EchW.toggle-switch---checked---3aC9B .toggle-switch---toggle---mncCu {
  border-color: $orange;
  background-color: $orange;
}
