@font-face {
  font-family: "Flaticon";
  src: url("assets/fonts/sun/Flaticon.eot");
  src: url("assets/fonts/sun/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("assets/fonts/sun/Flaticon.woff") format("woff"),
       url("assets/fonts/sun/Flaticon.ttf") format("truetype"),
       url("assets/fonts/sun/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("assets/fonts/sun/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-nature:before { content: "\f100"; }
.flaticon-delete:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-wind-sign:before { content: "\f103"; }
.flaticon-dawn:before { content: "\f104"; }

$font-Flaticon-nature: "\f100";
$font-Flaticon-delete: "\f101";
$font-Flaticon-clock: "\f102";
$font-Flaticon-wind-sign: "\f103";
$font-Flaticon-dawn: "\f104";
